.stories-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.slick-container {
  width: 80%;
  max-width: 1100px;
  margin-top: 10px;
}

.stories-logo-image {
  margin: 0px 10px;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  text-align: center;
}

/* You can change the CSS color to style the Next and 
Previous Arrow buttons according to your project */

.slick-prev:before,
.slick-next:before {
  color: black;
}
.story-name {
  font-family: 'Roboto';

  font-weight: normal;
  font-size: 12px;

  flex-wrap: wrap;
  color: #262626;
  text-align: center;
}

.stories-slick-item {
  display: flex !important;
  flex-direction: column;
  align-items: center;
}
