.loader-container {
  height: 100vh;
}
.failure-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.failure-para {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;

  color: #262626;
}
.failure-button {
  background: #4094ef;
  border-radius: 8px;
  padding: 8px 24px;
  border-width: 0px;
  color: #ffffff;
}
